<tr id="issue_type_<%= issue_type.id %>" class="<%= issue_type.project_id.nil? ? 'global' : 'project-'+issue_type.project_id.to_s %>">
  <td><%= issue_type.name %></td>
  <td> <% if issue_type.project_id.nil? %>
    <i class="fas fa-check-circle"></i>
    <% else %>
    <i class="fas fa-times-circle"></i>
    <% end %>
  </td>
  <td><%= issue_type.project_id.nil? ? 'NA' : issue_type.project_id.to_s %></td>
  <td> 
    <%= link_to('Delete', issue_type_path(issue_type), method: 'delete', remote: true, data: { confirm: 'Are you sure to delete this issue type?'}, class: 'btn btn-danger btn-sm text-white mr-2 mb-1 mb-md-0', style: 'width:4em;') %>
    <%= link_to('Edit', edit_issue_type_path(issue_type), remote: true, class: 'btn btn-primary btn-sm text-white mr-2 mb-1 mb-md-0', style: 'width:4em;') %>
    <%= link_to('Show', issue_type_path(issue_type), remote: true, class: 'btn btn-success btn-sm text-white', style: 'width:4em;') %>
  </td>
</tr>

