<div class="wrapper mb-5">
  <h1 class="float-left">Issue Types</h1>
  <% if params[:project_id].present? %>
    <%= link_to(new_project_issue_type_path(params[:project_id]), remote: true, class: 'btn btn-secondary float-right') do %>
      <i class="fas fa-plus mr-2"></i>New Issue Type
    <% end %>
    <%= link_to(issue_types_path, class: "btn btn-secondary float-right mr-2") do %>
      <i class="fas fa-cog mr-2"></i>Manage All Issue Types</a>
    <% end %>
  <% else %>
    <%= link_to(new_issue_type_path, remote: true, class: 'btn btn-secondary float-right') do %>
      <i class="fas fa-plus mr-2"></i>New Issue Type
    <% end %>
  <% end %>
</div>


<!-- Issue Type Modals -->
<%= render 'new_issue_type_modal' %>
<%= render 'issue_type_issues_modal' %>

<div class="row">
  <% if params[:project_id].nil? %>
    <div class="col-lg-6 col-md-12 col-sm-12">
  <% else %>
    <div class="col-lg-12 col-md-12 col-sm-12">
  <% end %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text bg-dark text-light" for="issue_types_category_filter">Category</label>
        </div>
        <select id="issue_types_category_filter" class="custom-select">
          <option value='all' selected>All Issue Types</option>
          <option value='global'>Globally Available</option>
          <option value='project'>Project Specific</option>
        </select>
      </div>
    </div>

  <% if params[:project_id].nil? %>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <label class="input-group-text bg-dark text-light" for="issue_types_project_name">Search Project</label>
        </div>
        <%= autocomplete_field_tag 'issue_types_project_name', '', autocomplete_project_title_issue_types_path, :id_element => '#issue_types_project_id', class: 'form-control', placeholder: 'Search' %>
        <%= link_to("Apply", "" , id: 'issue_types_project_name_apply', class: 'btn btn-outline-secondary ml-2') %>
        <input type="number" id="issue_types_project_id" hidden>
      </div>
    </div>
  <% end %>
</div>

<div class="my-4">
  <table id="issue_types_datatable" class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Issues</th>
        <th>Global</th>
        <th>Project</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'issue_type_table_row', collection: @issue_types, as: :issue_type %>
    </tbody>
  </table>
</div>