<div class="container " style="padding-top: 30px">
  <div class="row float-right">
    <% if can? :create, Team %> 
      <%= link_to 'New Team', new_team_path,class: 'btn btn-secondary btn-sm' %>
    <% end %>
  </div>
  <div class="row">
    <% @teams.each do |team| %>
      <div class="col-md-6">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/assets/team_card.jpeg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title"><%= team.name %></h4>
            <p class="card-text">Welcome to <%= team.name%></p>
            <% if can? :manage, Team %> 
              <%= link_to 'Manage Team', team_path(team.id),class: 'btn btn-sm btn-block btn-outline-secondary' %>
            <% else %> 
              <%= link_to 'View Team', team_path(team.id),class: 'btn btn-sm btn-block btn-outline-secondary' %>
              <hr>
              <% if requested(team.id, current_user.id) %>
                <button class="btn btn-success btn-sm btn-block ">Requested to join</button>
              <% else %>
                <%= form_tag add_membership_teams_path, method: 'get', remote: true do %>
                  <%= hidden_field_tag(:user_id, current_user.id) %>
                  <%= hidden_field_tag(:team_id, team.id) %> 
                  <%= hidden_field_tag(:is_approved, false) %> 
                  <div class="row">
                    <div class="col-9">
                      <button type="submit" class="btn-sm btn-block btn btn-outline-success">Join Team</button>
                    </div>
                    <div class="col-3">
                      <%= check_box 'join_admin', 'joining_decision', {}, 1, 0 %>
                      <%= label_tag(:join_admin, "Admin", class: 'form-check-label') %>
                    </div>  
                  </div>
                <% end %>
              <% end %> 
            <% end %>
          </div>
        </div>
        <br>
      </div>
    <% end %>
</div>
</div>