<div class="container">
  <div class="wrapper">
    <h2 class="float-left"><%= @team.name %></h2>
    <%= link_to 'Back', teams_path, class: 'btn btn-danger float-right' %>
    <% if can? :manage, Team %>
      <%= link_to "Remove Team", team_path(@team.sequence_num), method: :delete, data:{ confirm: 'Are you sure?' }, class: 'btn btn-secondary float-right mr-2' %>
      <button type="button" class="btn btn-secondary float-right mr-2" data-toggle="modal" data-target="#edit_team_modal">Edit Team</button>
      <%= render partial: 'edit_team_modal'%>
      <button type="button" class="btn btn-secondary float-right mr-2" data-toggle="modal" data-target="#add_member_modal">Add Member</button>
      <%= render partial: 'add_member_modal'%>
    <% end %>  
  </div>
  <br>
  <div>
    <h3>Members </h3>    
    <table class="table table-hover" id="team_members_table">
      <thead>
        <th scope="row">Name</th>
        <th scope="row">Admin</th>
        <% if can? :manage, Team %>
         <th scope="row">Action</th>
        <% end %>
      </thead>
      <tbody>
        <% @team_memberships.each do |membership| %>
          <% if membership.team_id == @team.id && membership.is_approved %>
            <tr id="membership_<%= membership.id %>"> <span class="glyphicon glyphicon-user"></span> 
              <td><%= membership.user.name%></td>
              <% if membership.is_team_admin %>
                <td>Yes</td>
              <% else %>
                <td>No</td>
              <% end %>
              <% if can? :manage, Team %>
                <td><%= link_to 'Remove', remove_member_team_path(@team.sequence_num, membership_id: membership.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm', remote: true %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <br><br>
  <% if can? :manage, Team %>
    <a href="#pending_requests" class="btn btn-secondary" data-toggle="collapse">Show pending requests</a>
    <div id="pending_requests" class="collapse pending_requests_div">
      <% if @pendings.count == 0 %>
        <div class="container"><span>No pending requests</span></div>
      <% else %>
        <table class="table table-hover" id="pending_members_table">
          <thead>
            <th scope="row">Name</th>
          </thead>
          <tbody>
            <% @pendings.each do |pending_membership| %>
              
                <tr id="pending_membership_<%= pending_membership.id %>"> <span class="glyphicon glyphicon-user"></span> 
                  <td><%= pending_membership.user.name%></td>
                  <td><%= link_to 'Accept', approve_request_team_path(@team.sequence_num, membership_id: pending_membership.id), class: 'btn btn-outline-success btn-sm', remote: true %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
</div>