<h1>Issues</h1>
<div class="row" id="drop">
  <div class="col-md-3">
    <label>Projects</label>
    <select id="project" value="All">
      <option selected="selected">All</option>
      <%= Project.all.each do |project| %>
        <option ><%= project.title %></option>
      <% end %>
    </select>
  </div>
  <div class="col-md-3">
    <label>Assignee</label>
    <select id="assignee">
      <option selected="selected">All</option>
      <%= User.all.each do |user| %>
        <option ><%= user.first_name %></option>
      <% end %>
    </select>
  </div>
  <div class="col-md-3">
    <label>Issue State</label>
    <select id="state">
      <option selected="selected">All</option>
      <%= IssueState.all.each do |issue_state| %>
        <option ><%= issue_state.name %></option>
      <% end %>
    </select>    
  </div>
  <div class="col-md-3">
    <label>Issue Types</label>
    <select id="type">
      <option selected="selected">All</option>
      <%= IssueType.all.each do |issue_type| %>
        <option ><%= issue_type.name %></option>
      <% end %>
    </select>    
  </div>
</div>
</br>
<!-- <div class="row">
  <div class="col-md-4">
    <input class="form-control" id="myInput" type="text" placeholder="Enter keyword..">    
  </div>
</div> -->
<br> 
<table class="table table-hover" id="myData">
  <thead>
    <tr>
      <th scope="col">Project Title</th>
      <th scope="col">Issue Type</th>
      <th scope="col">Title</th>
      <th scope="col">Assignee</th>
      <th scope="col">Status</th>
      <th scope="col">Priority</th>
      <th scope="col">Created</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody id="myList">
    <% @issues.each do |issue| %>
    <tr>
      <td><%= issue.project.title %></td>
      <td><%= issue.issue_type.name %></td>
      <td><%= issue.title %></td>
      <td><%= issue.assignee.first_name %></td>
      <td><%= issue.issue_state.name %></td>
      <% if issue.priority == 2 %>
        <td ><span class="glyphicon glyphicon-arrow-up"></span></td>
      <% elsif issue.priority == 1 %>
        <td ><span class="glyphicon glyphicon-arrow-right"></span></td>
      <% elsif issue.priority == 0 %>
        <td ><span class="glyphicon glyphicon-arrow-down blue"></span></td>
      <% end %>
      <td><%= issue.start_date %></td>
      <td><%= issue.due_date %></td>
    </tr>
    <% end %>
  </tbody>

</table>
<script>
  $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


</script>