<ul class="nav nav-pills mb-4" role="tablist">
  <li class="nav-item">
    <a class="btn btn-outline-secondary mr-2 active" id="pills_projects_tab" data-toggle="pill" href="#pills_projects" role="tab" aria-controls="pills_projects" aria-selected="true">My Projects</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-secondary mr-2" id="pills_assigned_issues_tab" data-toggle="pill" href="#pills_assigned_issues" role="tab" aria-controls="pills_assigned_issues" aria-selected="false">Assigned Issues</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-secondary mr-2" id="pills_watching_issues_tab" data-toggle="pill" href="#pills_watching_issues" role="tab" aria-controls="pills_watching_issues" aria-selected="false">Watching Issues</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-secondary mr-2" id="pills_charts_tab" data-toggle="pill" href="#pills_charts" role="tab" aria-controls="pills_charts" aria-selected="false">Statistics</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="pills_projects" role="tabpanel" aria-labelledby="pills_projects_tab">
    <div class="row">
      <div class="col-4">
        <p class="h3 my-4">Projects</p>
        <% if @projects.count > 0 %>
          <div class="list-group mt-4">
            <%= render partial: 'project_list', collection: @projects, as: :project %>
          </div>
        <% else %>
        <p class="my-4">You don't have membership in any project right now</p>
        <% end %>
      </div>
      <div class="col-8">
        <p class="h3 my-4">Project Issues</p>
        <div id="project_issues">
          <table id="project_issues_table" class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>State</th>
                <th>Priority</th>
              </tr>
            </thead>
              <tbody>
                <% if @issues.present? %>
                  <%= render partial: "shared/list_issues", collection: @issues, as: :issue %>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="pills_assigned_issues" role="tabpanel" aria-labelledby="pills_assigned_issues_tab">
    <table class="table table-hover" id="assigned_issues_table">
      <thead>
        <tr>
          <th>Title</th>
          <th>State</th>
          <th>Priority</th>
        </tr>
      </thead>
        <tbody>
          <%= render partial: "shared/list_issues", collection: @assigned_issues, as: :issue %>
        </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="pills_watching_issues" role="tabpanel" aria-labelledby="pills_watching_issues_tab">
    <table class="table table-hover" id="watching_issues_table">
      <thead>
        <tr>
          <th>Title</th>
          <th>State</th>
          <th>Priority</th>
        </tr>
      </thead>
        <tbody>
          <%= render partial: "shared/list_issues", collection: @watching_issues, as: :issue %>
        </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="pills_charts" role="tabpanel" aria-labelledby="pills_charts_tab">
    <div class="row">
      <div class="col-6">
        <p class="h3 my-4">Assigned Issues</p>
        <% if @assigned_issues.count > 0 %>
          <%= pie_chart @assigned_issues.group_by_issue_state.count %>
        <% else %>
          <p class="my-4">No issues assigned to you right now.</p>
        <% end %>
      </div>
      <div class="col-6">
        <p class="h3 my-4">Watching Issues</p>
        <% if @watching_issues.count > 0 %>
          <%= pie_chart @watching_issues.group_by_issue_state.count %>
        <% else %>
          <p class="my-4">You are not watching any issues.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>