<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card">
      <h1 class="card-header">Resend confirmation instructions</h1>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: 'form-control form-control-sm',autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="actions text-right">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-sm btn-outline-info' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>


