<div class="card shodowed-card">
  <h2 class="card-header">Sign up</h2>
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-sm-6 d-none d-sm-block">
        <img src="/assets/signup.svg" class="img-fluid" />
      </div>

      <div class="col-sm-6 user-forms-container">
        <%= form_for(@new_user, url: user_registration_path, method: :post, html: { id: 'sign_up_form' }) do |f| %>
          <div class="form-group">
            <%= f.label :first_name, 'First Name: ' %>
            <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "E.g. John", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :last_name, 'Last Name: ' %>
            <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "E.g. Doe", required: true %>
          </div>

          <div class="form-group">
            <%= f.label :email, 'Email: ' %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "john.doe@gmail.com", required: true %>
          </div>

          <div class="form-group">
            <%= f.label :password, 'Password: ' %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password for John Doe.", id: 'password_text_field', required: true %>
            <div>
              <span class="fa fa-fw fa-eye-slash float-right" id="show_password_eye"></span>
            </div>
          </div>

          <div class="form-group d-none">
            <%= f.label :password_confirmation, 'Password Confirmation: ' %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password for John Doe.", id: "password_confirmation_text_field", required: true %>
          </div>


          <%= f.fields_for :company do |company| %>
            <div>
              <%= company.label :name, 'Company Name: ' %>
              <%= company.text_field :name, autocomplete: "off", class: "form-control", placeholder: "E.g. 7vals Co.", id: "company_name_text_field", required: true %>
              <div>
                <span class="fa lds-dual-ring float-right" id="subdomain_verification_icon"></span>
              </div>
            </div>
            <div id="company_subdomain_display_area" class="col-sm-12 text-muted text-right pt-2">
              <p>Your Portal Will be Live On: <strong class="text-dark"><span id="subdomain_text_area"><%= @new_user.company.subdomain %></span>.<%= request.domain %></strong></p>
            </div>

            <div class="form-group d-none">
              <%= company.label :subdomain, 'Subdomain: ' %>
              <%= company.text_field :subdomain, autocomplete: "off", class: "form-control", placeholder: "E.g. 7vals", id: "company_subdomain_text_field", required: true %>
            </div>
          <% end %>

          <div class="actions mt-2 text-right">
            <%= f.submit "Sign up", class: "btn btn-sm btn-secondary" %>
          </div>
        <% end %>
        <div class="text-center">
          <hr>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
