<% @comments.each do |comment| %>
  <% next if comment.new_record? %>
  <div id="this_comment_<%= comment.id %>" class="card v-card v-sheet theme--light elevation-2">
    <div id="header" class="header">
      <div  class="v-avatar avatar" style="height: 50px; width: 50px;"><img  src="https://images.unsplash.com/photo-1490894641324-cfac2f5cd077?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=100&q=70">
      </div>
      <span  class="displayName title">John Doe <%= comment.user_id %></span>
      
      <span  class="displayName caption"><%= time_ago_in_words(comment.created_at) %> ago</span>

      <span  class="displayName caption"> <%= link_to "Edit", edit_comment_path(comment), remote: true %> </span>
      <span  class="displayName caption"> <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %> </span>

      <%= form_for comment, url: comment_path(comment), hidden: true, remote: true, html: {id: "comment_edit_form_"+comment.id.to_s, class: "comment_edit_form"} do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.text_area :content, id: "comment_update" %>
        <%= f.submit t('comments.update.btn'), id: "comment_update_btn", class: "btn comments_btn info" %>
      <% end %>
    </div>
    <div  class="wrapper comment">
      <p id="this_comment_content_<%= comment.id %>"><%= comment.content %></p>
    </div>
    <div  class="actions">
    </div>
    <div  class="v-dialog__container" style="display: block;"></div>
  </div>
    
<% end %>

