 <%= form_for @issue do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' ,maxlength: 100%>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', :cols => 2, :rows => 6 %>
        
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, class: 'form-control', type: 'date' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :due_date %>
       <%= f.text_field :due_date, class: 'form-control', type: 'date' %> 
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :assignee_id %>
        <%= f.select("assignee_id", Issue.all.collect {|issue| [issue.assignee.first_name, issue.assignee_id ] }, {:include_blank => 'Select an assignee'}) %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :priority %>
        <%= f.select :priority, options_for_select([["Low", ""], "Medium", "High"]) %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :issue_state_id %>       
        <%= f.select("issue_state_id", IssueState.all.collect {|issue_state| [issue_state.name, issue_state.id ] }, {:include_blank => 'Select an issue state'}) %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :issue_type_id %>
           <%= f.select("issue_type_id", IssueType.all.collect {|issue_type| [issue_type.name, issue_type.id ] }, {:include_blank => 'Select an issue type'}) %>
      </div>
    </div> 
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :progress %>
        <%= f.text_field :progress, class: 'form-control' %>
      </div>
    </div>
  </div>
  <hr>
  <%= f.submit({:class => 'btn btn-primary'}) %>
<% end %>
