<!-- Partial: Displays rows in a table -->
<% issues.each do |issue| %>
  <tr>
    <td><%= link_to issue.title, project_issue_path(issue.project, issue) %></td>
    <% if local_assigns[:render_project_title] %>
      <td><%= link_to issue.project.title, project_path(issue.project) %></td>
    <% end %>
    <td>
      <% if issue.assignee.present? %>
        <%= link_to issue.assignee.try(:name), member_path(issue.assignee) %>
      <% end %>
    </td>
    <td><%= issue.issue_type.try(:name) %></td>
    <td><%= issue.issue_state.try(:name) %></td>
    <td><%= get_priority(issue.priority) %></td>
    <td><%= issue.start_date %></td>
    <td><%= issue.due_date %></td>
  </tr>
<% end %>