<h2><%= @issue.title %></h2>
<table class="table">
  <thead class="thead-dark">
  </thead>
  <tbody>
    <tr>
      <th scope="row">Title :</th>
      <td><%= @issue.title %></td>
    </tr>
    <tr>
      <th scope="row">Description :</th>
      <td><%= @issue.description %></td>
    </tr>
    <tr>
      <th scope="row">Start Date :</th>
      <td><%= @issue.start_date %></td>
    </tr>
    <tr>
      <th scope="row">Due Date :</th>
      <td><%= @issue.due_date %></td>
    </tr>
    <tr>
      <th scope="row">Progress :</th>
      <td><%= @issue.progress %></td>
    </tr>
    <tr>
      <th scope="row">Priority :</th>
      <td><%= @issue.priority %></td>
    </tr>
    <tr>
      <th scope="row">State :</th>
      <td><%= @issue.issue_state.name %></td>
    </tr>
    <tr>
      <th scope="row">Assignee :</th>
      <td><span class="glyphicon glyphicon-user"></span> <%= @issue.assignee.first_name %></td>
    </tr>
    <tr>
      <th scope="row">Issue Type :</th>
      <td><%= @issue.issue_type.name %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_issue_path(@issue),class: 'btn btn-primary' %>
</br></br>
<div id="watch_button_div">
  <%= render partial: 'watch_button', locals: { issue: @issue } %>
</div>
</br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#watchers_modal">ADD WATCHERS</button>
</br></br>
<!-- Modal class for adding watchers -->
<div class="modal fade" id="watchers_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add watchers to Issue</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">Search Member</label>
            <input type="text" class="form-control" id="modal_watcher_email" placeholder="Search by email">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" id="modal_search_watcher">Search</button>
          </div>
          <div class="form-group">
            <label class="col-form-label">Name</label>
            <input type="text" class="form-control" id="modal_watcher_name">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" id="modal_add_watcher">Add Watcher</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>