<div class="wrapper">
  <h2 class="float-left"><%= @issue.title %></h2>
  <% if can?(:history, @issue) %>
    <%= link_to 'History', history_issue_path(@issue), class: 'btn btn-secondary float-right' %>
  <% end %>

  <% if can?([:destroy, :search_watcher_to_destroy], IssueWatcher) %>
    <button type="button" class="btn btn-secondary float-right mr-2" data-toggle="modal" data-target="#remove_watchers_modal">Remove Watcher</button>
    <%= render partial: 'issue_watchers/remove_watchers_form', locals: { issue: @issue } %>
  <% end %>

  <% if can?([:create, :search_watcher_to_add], IssueWatcher) %>
    <button type="button" class="btn btn-secondary float-right mr-2" data-toggle="modal" data-target="#add_watchers_modal">Add Watcher</button>
    <%= render partial: 'issue_watchers/add_watchers_form', locals: { issue: @issue } %>
  <% end %>
  
  <div id="watch_button_div" class="float-right mr-2">
    <%= render partial: 'issue_watchers/watch_button', locals: { issue: @issue } %>
  </div>

  <% if can?(:destroy, @issue) %>
    <%= link_to "Delete", project_issue_path(@issue.project, @issue.sequence_num), method: :delete, data: { confirm: issue_delete_data_confirm(@issue) }, class: 'btn btn-secondary float-right mr-2', id: 'issue_delete_button' %>
  <% end %>

  <% if can?(:update, @issue) %>
    <%= link_to 'Edit', edit_project_issue_path(@issue.project, @issue.sequence_num), class: 'btn btn-secondary float-right mr-2' %>
  <% end %>
</div>
<br>
<table class="table">
  <tbody>
    <tr>
      <th scope="row" id="remove_border_top_from_th">Title:</th>
      <td><%= @issue.title %></td>
    </tr>
    <tr>
      <th scope="row">Description:</th>
      <td><%= @issue.description %></td>
    </tr>
    <tr>
      <th scope="row">Start Date:</th>
      <td><%= @issue.start_date %></td>
    </tr>
    <tr>
      <th scope="row">Due Date:</th>
      <td><%= @issue.due_date %></td>
    </tr>
    <tr>
      <th scope="row">Progress:</th>
      <td><%= @issue.progress %>%</td>
    </tr>
    <tr>
      <th scope="row">Priority:</th>
      <td><%= get_priority(@issue.priority) %></td>
    </tr>
    <tr>
      <th scope="row">State:</th>
      <td><%= @issue.issue_state.try(:name) %></td>
    </tr>
    <tr>
      <th scope="row">Assignee:</th>
      <td><span class="glyphicon glyphicon-user"></span><%= @issue.assignee.try(:name) %></td>
    </tr>
    <tr>
      <th scope="row">Issue Type:</th>
      <td><%= @issue.issue_type.try(:name) %></td>
    </tr>
  </tbody>
</table>

<div class="page-header clearfix">
  <h3 class="float-left">Documents</h3>
  <button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#upload_document_modal">Upload Document</button>
  <%= render partial: 'documents/upload_document_modal' %>
</div>

<br><br><br>
<%= render partial: "documents/show_documents", locals: { documents: @issue.documents } %>

<%= render partial: 'comments/comment', locals: { commentable_object: @issue, comment: @comment, comments: @comments } %>
