<h2><%= @issue.title %></h2>
<table class="table">
  <thead class="thead-dark">
  </thead>
  <tbody>
    <tr>
      <th scope="row">Title :</th>
      <td><%= @issue.title %></td>
    </tr>
    <tr>
      <th scope="row">Description :</th>
      <td><%= @issue.description %></td>
    </tr>
    <tr>
      <th scope="row">Start Date :</th>
      <td><%= @issue.start_date %></td>
    </tr>
    <tr>
      <th scope="row">Due Date :</th>
      <td><%= @issue.due_date %></td>
    </tr>
    <tr>
      <th scope="row">Progress :</th>
      <td><%= @issue.progress %></td>
    </tr>
    <tr>
      <th scope="row">Priority :</th>
      <td><%= @issue.priority %></td>
    </tr>
    <tr>
      <th scope="row">State :</th>
      <td><%= @issue.issue_state.name %></td>
    </tr>
    <tr>
      <th scope="row">Assignee :</th>
      <td><span class="glyphicon glyphicon-user"></span> <%= @issue.assignee.first_name %></td>
    </tr>
    <tr>
      <th scope="row">Issue Type :</th>
      <td><%= @issue.issue_type.name %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_issue_path(@issue),class: 'btn btn-primary' %>
</br></br>
<div id="watch_button_div">
  <%= render partial: 'issue_watchers/watch_button', locals: { issue: @issue, watcher: current_user } %>
</div>
</br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_watchers_modal">Add Watcher</button>
<br><br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#remove_watchers_modal">Remove Watcher</button>
<%= render partial: 'issue_watchers/remove_watchers_form', locals: { issue: @issue } %>
<%= render partial: 'issue_watchers/add_watchers_form', locals: { issue: @issue } %>