<table class="table">
  <thead class="thead-dark">
  </thead>
  <tbody>
    <tr>
      <th scope="row">Title:</th>
      <td><%= @issue.title %></td>
    </tr>
    <tr>
      <th scope="row">Description:</th>
      <td><%= @issue.description %></td>
    </tr>
    <tr>
      <th scope="row">Start Date:</th>
      <td><%= @issue.start_date %></td>
    </tr>
    <tr>
      <th scope="row">Due Date:</th>
      <td><%= @issue.due_date %></td>
    </tr>
    <tr>
      <th scope="row">Progress:</th>
      <td><%= @issue.progress %></td>
    </tr>
    <tr>
      <th scope="row">Priority:</th>
      <td><%= @issue.priority %></td>
    </tr>
    <tr>
      <th scope="row">State:</th>
      <td><%= @issue.issue_state.try(:name) %></td>
    </tr>
    <tr>
      <th scope="row">Assignee:</th>
      <td><span class="glyphicon glyphicon-user"></span><%= @issue.assignee.try(:name) %></td>
    </tr>
    <tr>
      <th scope="row">Issue Type:</th>
      <td><%= @issue.issue_type.try(:name) %></td>
    </tr>
  </tbody>
</table>

<% if can?(:update, @issue) %>
  <%= link_to 'Edit', edit_issue_path(@issue), class: 'btn btn-primary' %>
<% end %>



  <%= link_to 'Show all Documents', issue_documents_path(@issue),class: 'btn btn-primary' %>
<div class="page-header"><h3>Upload Document</h3></div>

<%= form_for [@issue, @document], html: { multipart: true } do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:" %>
      </h2>
      <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :document %>
    <%= f.file_field :document, class: 'form-control' %>
 
  </div>

  <div class="form-group">
        <%= f.submit 'Upload Document', class: 'btn btn-default' %>
  </div>
<% end %>

