<%= '<div class="row">'.html_safe if user_counter%4 == 0%>
  <div class="col-md-3">
    <div class="card my-2 text-center">
      <%= image_tag("user.jpg", class: "card-img-top img-thumbnail") %>
      <div class="card-body">
        <h6>
          <small><%= link_to user.first_name, '#'%></small> 
        </h6>
        <p><small><%= user.email%></small></p>
        <p class="badge badge-danger badge-pill">
          <small><%= link_to 'Remove',
                  project_membership_path(@project, project_membership(@project, user)),
                  method: 'delete', data: { confirm: 'Are you sure?' },
                  class: 'text-white'%>
          </small>
        </p>
      </div>
    </div>
  </div>
<%= "</div>".html_safe if ((user_counter+1)%4 == 0) || (user_counter+1) == user_iteration.size%>