<%= '<div class="row">'.html_safe if member_counter%6 == 0%>
  <div class="col-md-2">
    <div class="card my-2 text-center">
      <%= image_tag("#{member.class.name.downcase}.jpg", class: "card-img-top img-thumbnail") %>
      <div class="card-body">
        <h6>
          <small><%= link_to member.name, '#'%></small> 
        </h6>
        <p class="badge badge-danger badge-pill">
          <small><%= link_to 'Remove',
                  project_project_membership_path(@project, project_membership(@project, member)),
                  method: 'delete', data: { confirm: 'Are you sure?' },
                  class: 'text-white', remote: true%>
          </small>
        </p>
      </div>
    </div>
  </div>
<%= "</div>".html_safe if ((member_counter+1)%6 == 0) || (member_counter+1) == member_iteration.size%>