<% if @members.blank? %>
<h5 class="mt-4">Nothing Found</h5>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody id="myList">
    <% members.each do |member| %>
    <tr>
      <td><%= member.id %></td>
      <td><%= member.name %></td>
      <td>
        <button type="button" class="btn btn-primary btn-block js-add-member" data-toggle="modal" data-target="#modal_membership_form" data-member-name="<%= member.name %>" data-member-id="<%= member.id %>" data-member-type="<%= member.class.name %>" data-project-id="<%= @project.id %>">Add</button>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>
<% end %> 

<div id="js_new_membership"></div>