<div class="modal fade" id="project_membership_modal" tabindex="-1" role="dialog" aria-labelledby="add_member_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_member_label">Add New Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="project_membership_flash">
          <% if notice.present? %>
          <%= render partial: "project_memberships/notice" %>
          <% end %>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="project_membership_selected_member_type">Member Type</label>
          </div>
          <%= select_tag("project_membership_selected_member_type", raw("<option value='User' selected>User</option><option value='Team'>Team</option>"), class: "custom-select") %>
        </div>
        <div class="form-group">
          <input type="text" id="project_membership_search_text" class="form-control" placeholder="Search" autofocus>
        </div>
        <div class="results" id="project_membership_search_results"></div>

        <%= form_for(@project_membership, remote: true, html: {id: :new_project_membership_form}) do |f| %>
          <%= f.number_field :project_id, value: @project.id, hidden: true %>
          <%= f.number_field :project_member_id, hidden: true %>
          <%= f.text_field :project_member_type, hidden: true %>
          <%= f.submit("Add Member", class: "btn btn-primary float-right") %>
        <% end %>
        <div id="add_member_search_result_area"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
