<% if @members.present? %>
  <ul class="list-unstyled" data-project-id="<%= @project.id %>">
    <% @members.each do |member| %>
      <li class="media mx-2 p-1 border js-add-member" data-member-name="<%= member[0] %>" data-member-id="<%= member[1] %>" >
        <%= image_tag("user.jpg", class: "mr-3 rounded", size: '25x25') %>
        <div class="media-body">
          <small class="mt-0 mb-1"><%= member[0] %></small>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>