<% @documents.each.with_index(1) do |document, index| %>
  <tr>
    <% if document.document.url.include? 'jpeg' or document.document.url.include? 'png' or document.document.url.include? 'jpg'  %>
      <td><%= link_to(image_tag(document.document.url(:medium)), document.document.url, target: '_blank') if document.document.exists? %></td>
    <% else %>
      <td>Document</td>
    <% end %>

    <td><%= index %></td>
    <td><%= document.document_file_name %></td>
    <td><%= document.document_content_type %></td>
    <td><%= link_to 'Open', document.document.url(:original, false), target: :_blank %></td>
    <% if document.of_issue? %>
      <td><%= link_to "Delete", issue_document_path(params[:issue_id], document.id ), method: :delete, data:{ confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
    <% else %>
      <td><%= link_to "Delete", project_document_path(params[:project_id], document.id ), method: :delete, data:{ confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
    <% end %>
  </tr>
<% end %>