  <% @documents.each.with_index(1) do |document_type, index_no| %>
                    <tr>
                      <% if document_type.document.url.include? 'jpeg' or document_type.document.url.include? 'png' or document_type.document.url.include? 'jpg'  %>
                         <td><%= link_to(image_tag(document_type.document.url(:medium)), document_type.document.url, target: '_blank') if document_type.document.exists? %></td>
                      <% else %>
                        <td>Document</td>
                      <% end %>
                      <td><%= index_no %></td>
                      <td><%= document_type.document_file_name %></td>
                      <td><%= document_type.document_content_type %></td>
                      <td><%= link_to "Open", document_type.document.url(:original, false) %></td>
                      <% if @document_type == 'Issue' %>
                      <td><%= link_to "Delete", issue_document_path(@issue_id, document_type.id ), method: :delete, data:{confirm: 'Are you sure?'}, :class => 'btn btn-primary' %></td>
                      <% else %>
                      <td><%= link_to "Delete", project_document_path(@project_id, document_type.id ), method: :delete, data:{confirm: 'Are you sure?'}, :class => 'btn btn-primary' %></td>
                      <% end %>
                    </tr>
        <% end %>