<!-- render navbar and drawer -->

<h1><%= @project.title %></h1>

<h2>Issues</h2>

<!-- <%= button_to 'Edit Project', edit_project_path(@project), method: 'get'%> -->
<tr>
  <td><%= link_to 'Edit Project', edit_project_path(@project),class: 'btn btn-warning' %></td>
  <td><%= link_to 'Delete Project', project_path(@project),class: 'btn btn-danger', method: 'delete', data: { confirm: 'Are you sure?' } %></td>
</tr>


<div class="row">
  <div class="col-md-3">
    <label>Assignee</label>
    <select >
      <%= @issues.each do |issue| %>
        <option ><%= issue.assignee.first_name %></option>
      <% end %>
    </select>
  </div>
  <div class="col-md-3">
    <label>Issue State</label>
    <select>
      <%= @issue_states.each do |issue_state| %>
        <option ><%= issue_state.name %></option>
      <% end %>
    </select>    
  </div>
  <div class="col-md-3">
    <label>Issue Types</label>
    <select>
      <%= @issue_types.each do |issue_type| %>
        <option ><%= issue_type.name %></option>
      <% end %>
    </select>    
  </div>
  <div class="col-md-3">
    <input class="form-control" id="myInput" type="text" placeholder="Enter keyword..">    
  </div>
</div>

<br>


<div style="overflow-x:auto;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Priority</th>
        <th scope="col">Issue Type</th>
        <th scope="col">Title</th>
        <th scope="col">Assignee</th>
        <th scope="col">Issue State</th>
        <th scope="col">Created</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody id="myList">
      <% @issues.each do |issue| %>
      <tr>
        <% if issue.priority == 2 %>
          <td ><span class="glyphicon glyphicon-arrow-up red"></span></td>
        <% elsif issue.priority == 1 %>
          <td ><span class="glyphicon glyphicon-arrow-right green"></span></td>
        <% elsif issue.priority == 0 %>
          <td ><span class="glyphicon glyphicon-arrow-down blue"></span></td>
        <% end %>

        <td><%= issue.issue_type.name %></td>

        <td><%= issue.title %></td>

        <td><%= issue.assignee.first_name %></td>

        <% if issue.issue_state.name == "Resolved" %>
          <td ><%= render "resolved" %></td>
        <% elsif issue.issue_state.name == "Unresolved" %>
          <td ><%= render "unresolved" %></td>
        <% end %>

        <td><%= issue.start_date %></td>

        <td><%= issue.due_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>






<%= render 'comments/comment' %>

<div id="flash_messages">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
</div>
