<!-- render navbar and drawer -->

<h1><%= Project.find(params[:id]).title %></h1>

<h2>Issues</h2>

<!-- <%= button_to 'Edit Project', edit_project_path(@project), method: 'get'%> -->
<tr>
  <td><%= link_to 'Edit Project', edit_project_path(@project),class: 'btn btn-warning' %></td>
  <td><%= link_to 'Delete Project', project_path(@project),class: 'btn btn-danger', method: 'delete', data: { confirm: 'Are you sure?' } %></td>
</tr>


<div class="row">
  <div class="col-md-3">
    <label>Assignee</label>
    <select >
      <%= @issues.each do |issue| %>
        <option ><%= issue.assignee.first_name %></option>
      <% end %>
    </select>    
  </div>
  <div class="col-md-3">
    <label>Issue State</label>
    <select>
      <%= IssueState.all.each do |issue_state| %>
        <option ><%= issue_state.name %></option>
      <% end %>
    </select>    
  </div>
  <div class="col-md-3">
    <label>Issue Types</label>
    <select>
      <%= IssueType.all.each do |issue_type| %>
        <option ><%= issue_type.name %></option>
      <% end %>
    </select>    
  </div>
  <div class="col-md-3">
    <input class="form-control" id="myInput" type="text" placeholder="Enter keyword..">    
  </div>
</div>

<br>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Issue Type</th>
      <th scope="col">Title</th>
      <th scope="col">Assignee</th>
      <th scope="col">Issue State</th>
      <th scope="col">Created</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody id="myList">
    <% @issues.each do |issue| %>
    <tr>
      <% if issue.priority == 2 %>
        <td ><span class="glyphicon glyphicon-arrow-up red"></span></td>
      <% elsif issue.priority == 1 %>
        <td ><span class="glyphicon glyphicon-arrow-right green"></span></td>
      <% elsif issue.priority == 0 %>
        <td ><span class="glyphicon glyphicon-arrow-down blue"></span></td>
      <% end %>

      <td><%= issue.issue_type.name %></td>

      <td><%= issue.title %></td>

      <td><%= issue.assignee.first_name %></td>

      <% if issue.issue_state.name == "Resolved" %>
        <td ><%= render "resolved" %></td>
      <% elsif issue.issue_state.name == "Unresolved" %>
        <td ><%= render "unresolved" %></td>
      <% end %>

      <td><%= issue.start_date %></td>

      <td><%= issue.due_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>







<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Title</th>
      <th scope="col">Assignee</th>
      <th scope="col">State</th>
      <th scope="col">Issue Type</th>
      <th scope="col">Parent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= render "highprioritybtn" %></th>
      <td>Mark</td>
      <td>Otto</td>
      <td><%= render "issuestatebtn" %></i></button></td>
      <td>
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="#!">three</a></li>
          <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
          <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
      </td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row"><%= render "mediumprioritybtn" %></th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>
        <div class="dropdown">
          <button class="btn dropdown-trigger dropdown-toggle" id="issuetype" type="button" data-toggle="dropdown"><span class="selection">Issue Type</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#!"><i class="material-icons">view_module</i>HTML</a></li>
            <li><a href="#!"><i class="material-icons">alarm_on</i>CSS</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>JavaScript</a></li>
          </ul>
        </div>
      </td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row"><%= render "lowprioritybtn" %></th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>
        
      </td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>

<br>
