<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <h2>Invite a User</h2>
    <%= form_for(@user, url: user_registration_path, method: :post) do |f| %>

      <div class="field form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: "form-control form-control-sm", placeholder: "E.g. John" %>
      </div>

      <div class="field form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, class: "form-control form-control-sm", placeholder: "E.g. Doe" %>
      </div>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control form-control-sm", placeholder: "john.doe@gmail.com" %>
      </div>

      <div class="form-group">
        <label for="role_select">Role:</label>
        <%= select("post", "role_id", @roles.collect {|role| [role.name, role.id] }, { include_blank: true }, class: 'form-control', id: 'role_select') %>
      </div> 

      <div class="actions text-right">
        <%= f.submit "Invite", class: "btn btn-info btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
