<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <%= render 'shared/failure_notification' %>
    <%= render 'shared/success_notification' %>


    <h2>Invite a User</h2>
    <%= form_for(@new_user, url: new_user_invite_create_path, method: :post) do |f| %>

      <%= render 'shared/errors', obj: @new_user %>

      <div class="field form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: "form-control form-control-sm", placeholder: "E.g. John" %>
      </div>

      <div class="field form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, class: "form-control form-control-sm", placeholder: "E.g. Doe" %>
      </div>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control form-control-sm", placeholder: "john.doe@gmail.com" %>
      </div>

      <div class="form-group">
        <label for="role_select">Role:</label>
        <%= f.select(:role_id, @roles.collect {|role| [role.name, role.id] }, { include_blank: 'None' }, class: 'form-control form-control-sm', id: 'role_select') %>
      </div>

      <div class="form-group">
        <label for="company_id_select">Company:</label>
        <%= f.select(:company_id, @companies.collect {|company| [company.name, company.id] }, { include_blank: 'None' }, class: 'form-control form-control-sm', id: 'company_id_select', required: true) %>
      </div> 

      <div class="actions text-right">
        <%= f.submit "Send Invitation", class: "btn btn-info btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
