<%= form_for(@issue_state, url: params[:issue_id].nil? ? issue_states_path : issue_issue_states_path(params[:issue_id]), html: {id: 'issue_state_form'}, remote: true) do |f| %>

<% if params[:issue_id].nil? %>
<div class="input-group mb-4">
  <div class="input-group-prepend">
    <label class="input-group-text" for="issue_state_category">Category</label>
  </div>
  <%= select_tag("issue_state_category", raw("<option value='global' selected>Global</option><option value='issue'>Issue Specific</option>"), class: "custom-select") %>
</div>

<% else %>
<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-toggle float-right" id="issue_issue_state_category" data-toggle="buttons">
      <label class="btn btn-info btn-sm active">
        <!-- TODO: change category to unique name -->
        <input type="radio" name="category" value="issue" checked> Issue Specific
      </label>
      <label class="btn btn-info btn-sm">
        <input type="radio" name="category" value="global"> Global
      </label>
    </div>
  </div>
</div>
<% end %>

<div class="form-group">
  <%= f.label :name, 'Issue State Name:'%>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Enter Name', required: true%>
</div>
<% if params[:issue_id].nil? %>
<div id="issue_name_search" hidden>
  <label for="issue_div" class="mt-2">Choose Issue:</label>
  <div id="issue_div">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <label class="input-group-text bg-dark text-white" for="issue_state_issue_name">Issue</label>
      </div>
      <%= autocomplete_field_tag 'issue_state_issue_name', '', autocomplete_issue_title_issue_states_path, :id_element => '#issue_state_issue_id', class: 'form-control', placeholder: 'Search' %>
    </div>
    <%= f.number_field :issue_id, class: 'form-control', readonly: true, hidden: true%>
  </div>
</div>
<% end %>
<div class="form-group">
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
</div>
<% end %>