<% if watchers.blank? %>
  <p class="alert alert-danger">Nothing Found</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sr. #</th>
        <th scope="col">Name</th>
        <th scope="col">Add as watcher</th>
      </tr>
    </thead>
    <tbody>
      <% watchers.each_with_index do |watcher, index| %>
      <tr id="<%= action %>_watcher_<%= watcher.id %>">
        <td><%= index+1 %></td>
        <td><%= watcher.name %></td>
        <td>
          <% if action == "create" %>
            <%= form_tag create_watcher_by_admin_issue_watchers_path, method: 'post', remote: true do %>
              <%= hidden_field_tag :issue_id, issue.id %>
              <%= hidden_field_tag :watcher_id, watcher.id %>
              <%= hidden_field_tag :watcher_type, watcher.class %>
              <%= submit_tag :Add, class: "btn btn-primary" %> 
            <% end %>
          <% else %>
            <%= form_tag destroy_watcher_by_admin_issue_watchers_path, method: 'post', remote: true do %>
              <%= hidden_field_tag :issue_id, issue.id %>
              <%= hidden_field_tag :watcher_id, watcher.id %>
              <%= hidden_field_tag :watcher_type, watcher.class %>
              <%= submit_tag :Remove, class: "btn btn-primary" %> 
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %> 