<tr>
  <td><%= link_to(issue.title, project_issue_path(issue.project_id, issue.id)) %></td>
  <td><%= link_to(issue.project.title, project_path(issue.project)) %></td>
  <td><%= link_to(issue.assignee.full_name, member_path(issue.assignee)) %></td>
  <td><%= link_to(issue.creator.full_name, member_path(issue.creator)) %></td>
  <td><%= issue.issue_state.name %></td>
  <td><%= issue.issue_type.name %></td>
  <td><span class="badge badge-pill badge-<%= badge_class_from_priority(issue.priority) %>"><%= issue_priority(issue) %></span></td>
  <td><%= issue.start_date %></td>
  <td><%= issue.due_date %></td>
</tr>

