<!DOCTYPE html>

<html>
<head>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</body>
<h1><%= @project.title %></h1>

<h2 class="my-4 text-center">Issues</h2>

<table class="table" id="report_datatable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">State</th>
      <th scope="col">Priority</th>
      <th scope="col">Created</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
    <tr>
      <td><%= issue.title %></td>
      <td><%= issue.issue_state.name %></td>
      <% if issue.priority > 0 %>
      <td><span class="badge badge-pill badge-danger">High</span></td>
      <% else %>
      <td><span class="badge badge-pill badge-success">Low</span></td>
      <% end %>
      <td><%= issue.start_date %></td>
      <td><%= issue.due_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= wicked_pdf_javascript_include_tag "report" %>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>