<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to 'Dashboard', dashboard_path %>
    </li>
    <li>
      <a href="<%= projects_path %>"><i class="material-icons">event_note</i>Projects</a>
    </li>
    <li>
      <a href="<%= teams_path %>"><i class="material-icons">people</i>&nbsp;Teams</a>
    </li>
    <li>
      <a href="<%= issues_path %>"><i class="material-icons">collections_bookmark</i>Issues</a>
    </li>
    <li>
      <a href="<%= issue_types_path %>"><i class="material-icons">collections_bookmark</i>Issue Types</a>
    </li>
    <li>
      <a href="<%= issue_states_path %>"><i class="material-icons">collections_bookmark</i>Issue States</a>
    </li>
    <li>
      <a href="<%= issues_report_path %>"><i class="material-icons">view_module</i>&nbsp;Issues Report</a>
    </li>
  </ul>
</div>