<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to 'My Workplace', dashboard_path, class: sidebar_active_class_provider(request.path, 'workplace') %>
    </li>
    <li>
      <a href="<%= members_path %>" class="<%= sidebar_active_class_provider(request.path, 'members') %>">
        <div class="row">
          <span class="align-self-center"><i class="fas fa-user"></i>&nbsp; &nbsp; Members</span>
        </div>
      </a>
    </li>
    <li>
      <a href="<%= projects_path %>" class="<%= sidebar_active_class_provider(request.path, 'projects') %>">
        <div class="row">
          <span class="align-self-center"><i class="fas fa-calendar-week"></i>&nbsp; &nbsp; Projects</span>
        </div>
      </a>
    </li>

    <li>
      <a href="<%= teams_path %>" class="<%= sidebar_active_class_provider(request.path, 'teams') %>">
        <div class="row">
          <span class="align-self-center"><i class="fas fa-users"></i>&nbsp; Teams</span>
        </div>
      </a>
    </li>

    <li>
      <a href="<%= issues_path %>" class="<%= sidebar_active_class_provider(request.path, 'issues') %>">
        <div class="row">
          <span class="align-self-center"><i class="fas fa-bookmark"></i>&nbsp; &nbsp; Issues</span>
        </div>
      </a>
    </li>

    <li>
      <a href="<%= issue_types_path %>" class="<%= sidebar_active_class_provider(request.path, 'issue_types') %>">
        <div class="row">
          <span class="align-self-center"><i class="fas fa-bookmark"></i>&nbsp; &nbsp; Issue Types</span>
        </div>
      </a>
    </li>

    <li>
      <a href="<%= issue_states_path %>" class="<%= sidebar_active_class_provider(request.path, 'issue_states') %>">
        <div class="row">
          <span class="align-self-center"><i class="fas fa-bookmark"></i>&nbsp; &nbsp; Issue States</span>
        </div>
      </a>
    </li>

    <li>
      <a href="<%= issues_report_path %>" class="<%= sidebar_active_class_provider(request.path, 'reports') %>">
        <div class="row">
          <span class="align-self-center"><i class="fas fa-chart-bar"></i>&nbsp; &nbsp; Reports</span>
        </div>
      </a>
    </li>
  </ul>
</div>