<!DOCTYPE html>
<html>
<head>
  <title>WorkflowEngine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- BOOTSTRAP 4 COMPONENTS -->
  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
  <!-- END - BOOTSTRAP 4 COMPONENTS -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <br>

    <% if user_signed_in? %>
    <div>
      <%= link_to "Logout", destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-sm btn-outline-warning' %>
      <%= link_to "Edit My Profile", edit_user_registration_path, class: 'btn btn-sm btn-outline-info' %>
    </div>
    <% end %>

    <%= render 'shared/success' %>
    <%= render 'shared/error' %>
    <%= render 'shared/alert' %>
    <%= render 'shared/notice' %>
    
    <%= yield %>

    <br>
  </div>
</body>
</html>
