<div class="card">
  <h2 class="card-header bg-dark text-white">Set a New Password</h2>
  <div class="card-body">
    <%= form_for(@current_user, url: change_password_member_path, method: :put) do |f| %>
      <div class="field form-group">
        <%= f.label :password, 'New Password:' %><br />
        <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "New Password." %>
      </div>

      <%= f.hidden_field :id %>

      <div class="text-right">
        <%= f.submit "Change!", class: "btn btn-secondary btn-sm" %>
      </div>

      <hr>
      <p class="text-center"><%= link_to "I don't want to change the password now.", dashboard_path, class: "btn btn-sm btn-outline-secondary" %></p>
    <% end %>
  </div>
  <div class="card-footer text-right">@<%= current_tenant.name %></div>
</div>
