<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card">
      <h1 class="card-header clearfix">
        All Members
        <em class="text-muted float-right">@<%= @company.name %></em>
      </h1>
      <div class="card-body">
        <% if can? :privileges, :member %>
          <p class="text-center text-muted"><em>Want to change roles of members? </em><%= link_to "Manage Privileges", privileges_members_path, class: 'btn btn-sm btn-outline-info' %></p>
          <hr>
        <% end %>

        <% if can? :new, :member %>
          <p class="text-center text-muted"><em>Want to invite someone to <%= @company.name %>? </em><%= link_to "Invite Member", new_member_path, class: 'btn btn-sm btn-outline-info' %></p>
          <hr>
        <% end %>

        <div class="list-group">
          <% @members.each do |member| %>
            <div class="list-group-item list-group-item-action">
              <a href="<%= member_path(member) %>"><%= member_full_name(member) %>
              </a>
              <span class="float-right">
                <em class="text-info"><%= member.role.name %></em>&nbsp;
                <% if can? :destroy, :member %>
                  <%= link_to "Deactivate", member_path(member), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-sm btn-outline-danger' %>
                <% end%>
                <% if can? :edit, :member %>
                  <%= link_to "Edit", edit_member_path(member), class: 'btn btn-sm btn-outline-info' %>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
