<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <%= render 'shared/success_notification' %>
    <%= render 'shared/failure_notification' %>

    <div class="card">
      <h1 class="card-header">Invite a Member</h1>
      <div class="card-body">
        <%= form_for(@new_user, url: member_invite_create_path, method: :post) do |f| %>

        <!-- DISPLAY ERRORS MESSAGES ON FORM SUBMISSION -->
        <%= render 'shared/errors', errors: @new_user.errors %>

        <div class="field form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, class: "form-control form-control-sm", placeholder: "E.g. John" %>
        </div>

        <div class="field form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, class: "form-control form-control-sm", placeholder: "E.g. Doe" %>
        </div>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control form-control-sm", placeholder: "john.doe@gmail.com" %>
        </div>

        <div class="form-group">
          <label for="role_select">Role:</label>
          <%= f.select(:role_id, setup_roles_select_options(@roles), { include_blank: 'None' }, class: 'form-control form-control-sm', id: 'role_select') %>
        </div>

        <div class="actions text-right">
          <%= f.submit "Send Invitation", class: "btn btn-info btn-sm" %>
        </div>
        <% end %>
      </div>
      <div class="card-footer text-right">@<%= @company.name %></div>
    </div>
  </div>
</div>
