<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <%= render 'shared/success_notification' %>
    <%= render 'shared/failure_notification' %>

    <div class="card">
      <h2 class="card-header bg-dark text-white">Set a New Password</h2>
      <div class="card-body">
          <%= form_for(@current_user, url: member_setpassword_change_path, method: :put) do |f| %>

          <!-- DISPLAY ERRORS MESSAGES ON FORM SUBMISSION -->
          <%= render 'shared/errors', errors: @current_user.errors %>

          <div class="field form-group">
            <%= f.label :password, 'New Password:' %><br />
            <%= f.password_field :password, autofocus: true, class: "form-control form-control-sm", placeholder: "New Password." %>
          </div>

          <div class="text-right">
            <%= f.submit "Change!", class: "btn btn-info btn-sm" %>
          </div>

          <hr>
          <p class="text-center"><%= link_to "I don't want to change the password now.", members_path, class: "btn btn-sm btn-outline-secondary" %></p>
          <% end %>
      </div>
      <div class="card-footer text-right">@<%= current_tenant.name %></div>
    </div>
  </div>
</div>